#btncolor{
    color: white;
}
.edit-logo{
    height: 40px;
}
.headline{
 color: yellow;
}
.backg{
    background: rgb(225,161,63);
background: radial-gradient(circle, rgba(225,161,63,1) 0%, rgba(0,0,0,1) 20%);
}
hr {
 text-align: center;
  }
